.custom-header-container {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-between; /* Espaciar los elementos */
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.custom-header {
flex-grow: 1; /* Ocupa el resto del espacio disponible */
margin-left: 20px;
}

.custom-header .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #495057; /* Color predeterminado de texto */
}

.custom-header .nav-link.active {
background-color: #007bff; /* Azul para el tab activo */
color: white !important; /* Texto blanco en el tab activo */
border-radius: 4px; /* Bordes redondeados */
font-weight: bold; /* Negrita para destacar */
}

.back-button {
font-size: 14px;
font-weight: bold;
padding: 5px 15px;
margin-right: 20px; /* Espacio entre el botón y las pestañas */
}  